/* NAVBAR FIJO */
.navbar {
    z-index: 999;
}

/* SIDEBAR FIJO */
.sidebar {
    width: 260px;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    background: #0f233b;
    color: white;
    padding: 20px;
    overflow-y: auto;
}

/* INFORMACIÓN DEL USUARIO */
.sidebar-user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}

/* MENÚ */
.sidebar a {
    display: block;
    padding: 10px 0;
    color: #cbd6e2;
    text-decoration: none;
    margin-bottom: 8px;
}

.sidebar a:hover {
    color: white;
}

/* CONTENIDO A LA DERECHA */
.content {
    margin-left: 260px;
    padding: 30px;
    padding-top: 120px;
}
